.headerContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: black;
    z-index: 9999;
    display: flex;
    flex-direction: row;

}

.headerContainer img{
    width: auto;
    height: 10vh;
}

.headerText{
    top:0;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Manrope', sans-serif;
    font-size: 2vh;
    color: #2a9ed2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pageButtons{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pageButtons img{
    width: auto;
    height: 5vh;
    margin-left: 1vw;
}

.bodyContainer{
    position: absolute;
    font-family: 'Oxygen', sans-serif;
    color: #353535;
    margin-top: 8.5vh;
    font-size: 10vh;
    height: 90vh;
    width: 100vw;
    left: 0;
    display: flex;
    flex-direction: column;
}

.weatherDescription{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    font-size: 1.5vh;
    background-color: black;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    color: #2a9ed2;
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#lastUpdate{
    margin-left: auto;
    margin-right: 0;
}

