#descriptionImageHolder{
    
    background-image:url(../images/mist.png);
    background-size: cover;
}

.bodyContainer{
    background-image: url(../images/mist_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
